.bigContainer {
    border: 30px solid rgb(165, 101, 42);
    height: max-content;
    width: max-content;
    border-radius: 25px;
}

.startContainer {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6) 
}

.dropStart {
    margin: 250px auto;
    width: 200px;
    height: 300px;
    background-color: rgb(46, 163, 75);
    border-radius: 20px;
}

.countdownBox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.countdownTimer {
    position: relative;
    top: 30%;
    display: flex;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.6);
    font-size: 200px;
    font-weight: bold;
    color: rgb(183, 0, 255);
    -webkit-text-stroke: 5px orange;
    transition: 1s ease-in;
    opacity: 1;
    padding-bottom:40px;
}

.highscore {
    padding-top: 20px;
}

.startBtn{
    margin-top: 30px;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    color: white;
    background-color:cornflowerblue;
    border: none;
    font-family: 'Press Start 2P';
    font-size: 15px;
}

.startBtn:hover {
    background-color: rgb(204, 204, 3);
    color: purple
}

.moveKeys {
    width: 50%;
    margin-top: 30px;
}